<h1>Trading winers</h1>

<%= link_to 'Mergi la Preluare', home_preluare_path, class: 'btn btn-primary' %><br><br>
<%= link_to 'Analiza US30', us30s_analiza_us30_path %><br><br>
<%= link_to 'Analiza BTC', btcs_analiza_btc_path %><br><br>
<%= link_to 'Analiza XAUUSD', xauusds_analiza_xauusd_path %><br><br>





<script>
console.log("Script încărcat");
</script>